<StackLayout class="parent" verticalAlignment="top">

    <Label text="Toggle Bar" class="heading"></Label>
    
    <GridLayout #toggle class="toggle" columns="*, *, *">

        <Label id="toggler" class="toggler"></Label>

        <label col="0" text="Home" class="toggle-lbl text-center"></label>
        <label col="1" text="Activity" class="toggle-lbl text-center"></label>
        <label col="2" text="Profile" class="toggle-lbl text-center"></label>
    
    </GridLayout>

    <Label text="by Kartik Kher ©" class="trademark"></Label>
    

</StackLayout>

